body {
    background-color: #FCFAFA;
    color: #84898C;
    font-family: 'Maven Pro', sans-serif;
}

.logo {
    text-align: center;
}

h1 {
    text-align: center;
}

.nav {
    color: #84898C;
}

.recension {
    text-align: center;
}

