@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Maven+Pro:wght@400;500&display=swap');

/*---------------------------------------General*/

body {
    background-color: #FCFAFA;
    color: #435159;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Dancing Script", sans-serif;
    text-align: center;   
    font-size: 4rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

h2 {
    font-family: "Dancing Script", sans-serif;
    text-align: center;   
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.3rem;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
} 

.intro-ending {
    margin-bottom: 70px
}

/*---------------------------------------Header*/

.header-logo {
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    min-height: 14vh;
}

/*---------------------------------------Navigation*/

.nav-font-color {
   color: #435159;
   font-weight: 400;
}

.nav-item {
    margin-right: 40px;
    font-size: 1.5rem;
    }

.nav a {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav a:hover {
    color: #ae5d57;
    font-weight: 400;
}

nav .row {
    align-items: center;
}
nav .col-5:first-child {
    padding-right: 0px;
    margin-left: 0px;
    }

nav .col-5:nth-child(2) {
    padding-left: 0px;
    }    

nav .nav-contact-sm {
    font-size: 0.9rem;
    text-align: center;
    }

nav .nav-contact-sm i,
nav .nav-contact-sm a {
    color: #435159;
    }

nav .nav-contact-sm a:hover {
    text-decoration: none;
    font-weight: 500;
    color: #ae5d57;
}

nav .button-border {
    border-color: #84898C;
    padding: 2px 10px 2px 10px;
}

nav .button-size-text {
    height: 20px;
    width: 20px;
 }

button {
    float: right;
    margin-right: 10px;
     
 }

 /*--------------------Hero Images for the different features*/

.hero-image-welcome {
    background: url("../images/hero-image-welcome.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 70px;
    height: 700px;
}

.hero-image-ourrums {
    background: url("../images/hero-image-our-rums.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 70px;
    height: 700px;
}

.hero-image-the-barn {
    background: url("../images/hero-image-the-barn.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 70px;
    height: 700px;
}

.hero-image-dellenbygden {
    background: url("../images/hero-image-dellenbygden.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 70px;
    height: 700px;
}

.hero-image-contact {
    background: url("../images/hero-image-contact.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 70px;
    height: 700px;
}

/*--------------------Features*/

.features {
    margin-left: 3%;
    margin-right: 3%;
}

.feature-our-rums {
    background: url("../images/hero-image-our-rums.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 0;
    min-height: 300px;
    margin-bottom: 40px
}

.feature-the-barn {
    background: url("../images/hero-image-the-barn.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 0;
    min-height: 300px;
    margin-bottom: 40px
}

.feature-dellenbygden {
    background: url("../images/hero-image-dellenbygden.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 0;
    min-height: 300px;
    margin-bottom: 40px
}

.col-md-3 {
    background-color: #F2F2F2;
     box-shadow: 2px 2px 5px #435159;
}


/*--------------------Footer*/

.footer {
    background-color: #F2F2F2;
    color: #435159;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-logo {
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 10vh;
}

.col-md-9 .col-sm .row {
    display: flex;
    justify-content: center;
}

.footer-contact {
    padding-top: 1rem;
    font-size: 1.2rem;
    }

.footer-contact-address {
    color:#435159;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-contact a:hover {
    text-decoration: none;
    font-weight: 400;
    color: #ae5d57;
}

.footer-contact-call a {
    color:#435159;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-contact-call a:hover {
    text-decoration: none;
    font-weight: 400;
    color: #ae5d57;
}

.footer-contact-social p {
    margin-bottom: 5px;
}

.fa-facebook {
    text-align: center;
    padding-right: 2%;
}

.footer-contact-social i {
    color:#435159;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-contact-social i:hover {
    text-decoration: none;
    font-weight: 500;
    color: #ae5d57;
}

 /*--------------------Responsive Design*/

 @media only screen and (max-width: 1200px )  {
    .hero-image-welcome,
    .hero-image-ourrums,
    .hero-image-the-barn,
    .hero-image-dellenbygden,
    .hero-image-contact {
        height: 450px;
    }

    .nav-item {
        font-size: 1.2rem;
        margin-right: 20px;
    }

    h1 {
        font-size: 2.0rem;
        margin-top: 30px;
    }
    

    .footer-contact {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .nav-item {
        margin-right: 10px;
        font-size: 0.9rem;
    }
    .header-logo {
        min-height: 12vh;
    }
    .hero-image-welcome,
    .hero-image-ourrums,
    .hero-image-the-barn,
    .hero-image-dellenbygden,
    .hero-image-contact {
        max-height: 350px;
        margin-top: 10px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .intro p {
    font-size: 1rem;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

    .feature-our-rums,
    .feature-the-barn,
    .feature-dellenbygden {
        min-height: 150px;
    }

    .footer-contact {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 576px) {
    .header-logo {
        min-height: 10vh;
    }
    .hero-image-welcome,
    .hero-image-ourrums,
    .hero-image-the-barn,
    .hero-image-dellenbygden,
    .hero-image-contact {
        max-height: 200px;
        margin-top: 10px;
    }
    .nav-item {
        font-size: 0.7rem;
        margin-right: 2px;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav-link {
        padding-top: 5px;
        padding-bottom: 2px;
    }

    h1 {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .features div {
        margin-bottom: 50px;
    }

    .footer-logo {
        height: 8vh;
    }
    .footer-contact {
         text-align: center;
         font-size: 0.8rem;
    }

    .footer-contact-social p {
        padding-top: 1rem;
    }

    .col-2 {
        padding-right: 0;
    }
}

@media only screen and (max-width: 320px) {
    .header-logo {
        min-height: 7vh;
    }

    .hero-image-welcome,
    .hero-image-ourrums,
    .hero-image-the-barn,
    .hero-image-dellenbygden,
    .hero-image-contact {
        max-height: 150px;
        margin-top: 10px;
    }

    .footer-logo {
        height: 5vh;
    }

    .footer-contact {
        font-size: 0.7rem;
       }

    .footer-contact-social {
        margin-top: 15px;
    }
}




