@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Maven+Pro:wght@400;500&display=swap');

/*---------------------------------------General*/

body {
    background-color: #FCFAFA;
    color: #435159;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Dancing Script", sans-serif;
    text-align: center;   
    font-size: 4rem;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 20px;
    }

h2 {
    font-family: "Dancing Script", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2;
}

.feature-h2 {
    text-align: center; 
    padding-top: 5%;
}

.feature-h2-left-center {
    margin-top: 10px;
}

h4 {
    font-family: "Dancing Script", sans-serif;
    font-weight: 700;
}

.intro p {
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
} 

.intro-ending {
    margin-bottom: 100px
}

.row {
    margin: 0;
    padding: 0;
}

/*--------------------Images*/

.hero-image-welcome {
    background: url("../images/hero-image-welcome.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 700px;
}

.hero-image-the-rooms {
    background: url("../images/hero-image-the-rooms.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 700px;
}

.hero-image-the-barn {
    background: url("../images/hero-image-the-barn.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 700px;
}

.hero-image-dellendistrict {
    background: url("../images/hero-image-dellenbygden.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 700px;
}

.hero-image-contact {
    background: url("../images/hero-image-contact.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 700px;
}

.welcome-feature-the-rooms {
    background: url("../images/hero-image-the-rooms.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 0;
    min-height: 250px;
    margin-bottom: 80px
}

.welcome-feature-the-barn {
    background: url("../images/hero-image-the-barn.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 0;
    min-height: 250px;
    margin-bottom: 80px
}

.welcome-feature-dellenbygden {
    background: url("../images/hero-image-dellenbygden.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 0;
    min-height: 250px;
    margin-bottom: 80px
}

.the-rooms-feature-the-suite {
    background: url("../images/the-rooms-suite.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 0;
    min-height: 300px;
}

.the-rooms-feature-white-room {
    background: url("../images/the-rooms-white-room.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 0;
    min-height: 300px;
}

.the-rooms-feature-red-room {
    background: url("../images/the-rooms-red-room.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 0;
    min-height: 300px;
}

.dellendistrict-events {
    background: url("../images/dellendistrict-delsbostamma.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 0;
    min-height: 300px;
}

.dellendistrict-hiking-map {
    background: url("../images/dellendistrict-hiking2.png") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    padding: 0;
    min-height: 300px;
}


.quotes-girl {
    background: url("../images/quotes-girl.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 90px;
    min-width: 90px;
    border-radius: 50%;
}

.quotes-guy{
    background: url("../images/quotes-guy.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 90px;
    min-width: 90px;
    border-radius: 50%;
}

/*---------------------------------------Header*/

.header-logo {
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    min-height: 14vh;
}

/*---------------------------------------Navigation*/

.nav-font-color {
   color: #435159;
   font-weight: 400;
}

.nav-item {
    margin-right: 40px;
    font-size: 1.5rem;
}

.nav a {
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav a:hover {
    color: #ae5d57;
    font-weight: 400;
}

nav .row {
    align-items: center;
}

nav .col-5:first-child {
    padding-right: 0px;
    margin-left: 0px;
}

nav .col-5:nth-child(2) {
    padding-left: 0px;
}    

nav .nav-contact-sm {
    font-size: 0.9rem;
    text-align: center;
}

nav .nav-contact-sm i,
nav .nav-contact-sm a {
    color: #435159;
}

nav .nav-contact-sm a:hover {
    text-decoration: none;
    font-weight: 500;
    color: #ae5d57;
}

/*--------------------Button*/

nav .button-border {
    border-color: #435159;
    padding: 2px 10px 2px 10px;
}

nav .button-size-text {
    height: 20px;
    width: 20px;
}

.col-2 button {
    float: right;
    margin-right: 10px;  
}

.boka-button .btn,
.send-button .btn {
    background-color: #ae5d57;
    border-color: #ae5d57;
    color: #F2F2F2;
    font-family: "Dancing Script", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.boka-button .btn:hover,
.send-button .btn:hover {
    background-color: #ae5d57;
    border-color: #ae5d57;
    color: #F2F2F2;
}

.button-collapse-feature {
    padding: 0 0 0 12px;
    color: #435159;
    background-color: transparent;
    border: none;
    font-weight: 500;
}

.button-collapse-feature:hover {
    background-color: transparent;
    border: none;
    color: #ae5d57;
    font-weight: 500;
}

.back-to-top-button {
    background-color: #FCFAFA;
    border: 0;
    margin: 0;
    padding: 0;
}

.back-to-top-button a {
    color: #435159;
}

.back-to-top {
    text-align: right;
}

.back-to-top-button a:hover {
    color: #ae5d57;
}

.boka-button {
    margin-bottom: 100px;
    text-align: center;
}

.send-button {
    margin-top: 8%;
}

.col-5 input {
    width: auto;
    box-shadow: none;
}

/*--------------------Introduction*/

.intro .smoking-disclaimer {
    font-size: 1.0rem;
}
 
/*--------------------Feature*/

.feature {
    margin: 0;
}

.feature h3 {
    padding-bottom: 5%;
    text-align: center;
}
.feature-bg-color {
    background-color: #F2F2F2;
    box-shadow: 2px 2px 5px #435159;
}
.row-wrap {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}

.feature-space-around {
    margin: 8% 15% 4%;
}


.feature-space-between {
    margin: 100px 0;
}

.col-md-7 {
    padding: 2% 0 0 3%;
}

#packages {
    margin: 5% 8%;
    padding-top: 2%;
    padding-bottom: 3%;
}

#packages-h2{
    text-align: center;
    padding-bottom: 3%;
}

#packages .col-md-4 {
    flex: 1;
}

.packages-offer {
    padding: 3% 3%;
    box-shadow: 2px 2px 5px #435159;
}

.feature li {
    line-height: 1.7;
}

.price {
    text-align: center;
}

.price-tag {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 2%;
    margin-bottom: 0;
}

.disposition {
    font-size: 0.7rem;
}

.image-copyright {
    font-size: 0.7rem;
}

/*--------------------Gallery*/
.gallery {
    margin: 5% 8%;
    padding: 2%;
}

#gallery-h2 {
    text-align: center;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column-wintertime {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img,
.column-wintertime img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

/*--------------------Quotes*/

.quotes h2 {
    margin: 0 0 40px;
}

#white-space-quotes-girl {
    padding-left: 200px;
}

#white-space-quotes-guy {
    padding-left: 100px;
}

.quotes .col-md-6 {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 80px;
    padding: 0;
}

.quotes p,
.quotes footer {
        font-size: 0.8rem;
}

blockquote {
    padding-left: 40px;
    width: 250px;
}

/*--------------------Contact page*/

.contact {
    margin: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
}

.contact .col-10 {
    text-align: center;
}

.contact-space-between {
    margin-bottom: 20%;
}

.contact-bg-color {
    background-color: #F2F2F2;
}

.contact a:hover {
    text-decoration: none;
    color: #ae5d57;
}

.contact-phone,
.contact-email {
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-phone a,
.contact-email a,
.address a {
    color:#435159;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-phone a:hover,
.contact-email a:hover,
.address a:hover {
    text-decoration: none;
    font-weight: 500;
    color: #ae5d57;
}

.maps img {
    width: 100%;
}

.form {
        padding-bottom: 8%;
    }

form {
    text-align: left;
    padding-right: 4%;
    padding-left: 4%;
}

form label {
    margin-bottom: 1%;
    padding-left: 2%;
}

form input {
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    box-shadow: 2px 2px 5px #435159;
    border: 0;
}

form .row {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

form .row div:nth-child(2) {
    padding-right: 0;
}

#message {
    margin: auto 2%;
    width: 95%;
    height: 150px;
    box-shadow: 2px 2px 5px #435159;
    border: 0;
}

.message p {
    margin-left: 2%;
}

/*--------------------Footer*/

.footer {
    background-color: #F2F2F2;
    color: #435159;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-logo {
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 10vh;
}

.col-sm-8 .col-sm-4 .row {
    display: flex;
    justify-content: center;
}

.footer-contact {
    padding-top: 1rem;
    font-size: 1rem;
}

.footer-contact-address {
    color:#435159;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-contact a:hover {
    text-decoration: none;
    font-weight: 400;
    color: #ae5d57;
}

.footer-contact-call a {
    color:#435159;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-contact-call a:hover {
    text-decoration: none;
    font-weight: 400;
    color: #ae5d57;
}

.footer-contact-social p {
    margin-bottom: 5px;
}

.fa-facebook {
    text-align: center;
    padding-right: 2%;
}

.footer-contact-social i {
    color:#435159;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-contact-social i:hover {
    text-decoration: none;
    font-weight: 500;
    color: #ae5d57;
}

 /*--------------------Responsive Design*/

 @media only screen and (max-width: 1200px )  {
    .hero-image-welcome,
    .hero-image-the-rooms,
    .hero-image-the-barn,
    .hero-image-dellendistrict,
    .hero-image-contact {
        height: 450px;
    }

    .nav-item {
        font-size: 1.2rem;
        margin-right: 20px;
    }

    h1 {
        font-size: 3.5rem;
    }    

    .welcome-feature-the-rooms,
    .welcome-feature-the-barn,
    .welcome-feature-dellenbygden {
        min-height: 200px;
    }

    #white-space-quotes-girl {
    padding-left: 100px;
    }

    #white-space-quotes-guy {
    padding-left: 0;
    padding-right: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-item {
        margin-right: 10px;
        font-size: 0.9rem;
    }
    .header-logo {
        min-height: 12vh;
    }
    .hero-image-welcome,
    .hero-image-the-rooms,
    .hero-image-the-barn,
    .hero-image-dellendistrict,
    .hero-image-contact {
        max-height: 350px;
        margin-top: 10px;
    }

    .dellendistrict-events {
        margin-bottom: 0px;
}

    h1 {
        font-size: 3.0rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .feature-h2-left-center {
        text-align: center; 
        line-height: 1.5;
    }

    #packages-h2,
    #gallery-h2 {
        font-size: 2.2rem;
    }

    .feature h3 {
       font-size: 1.4rem; 
    }
    
    .intro p {
    font-size: 1rem;
    }

    .price-tag {
        font-size: 1.3rem;
    }

    ul li {
        font-size: 0.9rem;
    }

    .packages-offer p {
        font-size: 0.9rem;
    }

    .feature {
        padding-left: 10%;
        padding-right: 10%;
    }

    .feature-space-index {
    margin: 100px 0;
    }

    .feature-space-packages {
        margin-top: 70px;
    }

   .feature-space {
        margin: 100px 40px;
    }

    .feature-order-sm {
        order: -1
    }

    .feature-collapse {
        text-align: center;
        margin: 0 20px;
    }

    #packages {
        margin-top: 10%;
        margin-left: 27%;
        margin-right: 27%;
    }

    .packages-offer {
        padding: 3% 9%;
    }

    .image-copyright {
        padding-left: 20px;
    }

    .contact {
    margin: 5% auto;
    }

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .row-wrap {
        flex-wrap: wrap;
    }

    .quotes {
        margin: 10% 10% 0;
    }

    .quotes .col-sm-12 {
        justify-content: center;
    }

    .quotes-girl,
    .quotes-guy {
        max-height: 70px;
        min-width: 70px;
    }

    #white-space-quotes-girl {
    padding-left: 0;
   
    }

    #white-space-quotes-guy,
    #white-space-quotes-girl {
    padding-right: 0;
    }

    blockquote {
        padding-left: 20px;
    }

    .footer-contact {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 576px) {

    .header-logo {
        min-height: 10vh;
    }

    .hero-image-welcome,
    .hero-image-the-rooms,
    .hero-image-the-barn,
    .hero-image-dellendistrict,
    .hero-image-contact {
        max-height: 200px;
        margin-top: 10px;
    }

    .nav-item {
        font-size: 0.7rem;
        margin-right: 2px;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav-link {
        padding-top: 5px;
        padding-bottom: 2px;
    }

    h1 {
    margin-top: 40px;
    }
     
    .intro p {
    text-align: center;
    }

    .intro-ending {
    margin-bottom: 70px 
    }

    .intro .smoking-disclaimer {
    font-size: 0.6rem;
    }

    .welcome-feature-the-rooms,
    .welcome-feature-the-barn,
    .welcome-feature-dellenbygden {
        min-height: 150px;
        margin-bottom: 40px;
    }

    .the-rooms-feature-the-suite,
    .the-rooms-feature-white-room,
    .the-rooms-feature-red-room {
        min-height: 200px;
    }

    #packages {
    margin-left: 15%;
    margin-right: 15%;
    }

    #packages .col-md-4 {
        flex: none;
    }

    .feature h3 {
        margin-top: 5%;
    }

    .form {
        font-size: 0.7rem;
    }
    
    .send-button .btn {
        font-size: 1.1rem;
    }

    #white-space-quotes-guy {
    padding-left: 0;
    margin-bottom: 0;
    }

    .footer-logo {
        height: 8vh;
    }

    .footer-contact {
         text-align: center;
         font-size: 0.8rem;
    }

    .footer-contact-social p {
        padding-top: 1rem;
    }

}

@media only screen and (max-width: 375px) {
   
    .hero-image-welcome,
    .hero-image-the-rooms,
    .hero-image-the-barn,
    .hero-image-dellendistrict,
    .hero-image-contact {
        max-height: 150px;
        margin-top: 10px;
    }

    h1 {
        font-size: 2.3rem;
    }

    .the-rooms-feature-the-suite,
    .the-rooms-feature-white-room,
    .the-rooms-feature-red-room {
        min-height: 150px;
    }

    #packages {
    margin-left: 5%;
    margin-right: 5%;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
        
    form .row {
        margin-right: 0;
    }

    form .row div:first-child {
        padding-right: 0;
        padding-left: 0;
    }
    
    form .row div:nth-child(2) {
        padding-left: 0;
    }

    .col-5 input {
        margin-left: 0;
    }
}




