@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Maven+Pro:wght@400;500&display=swap');

/*---------------------------------------Body*/

body {
    background-color: #FCFAFA;
    color: #84898C;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
}


/*---------------------------------------Header*/

.header {
    min-height: auto;
}

.header-logo {
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    min-height: 15vh;
}

/*---------------------------------------Navigation*/

.nav-item {
    margin-right: 50px;
    font-size: 20px;
}

.nav-font-color {
    color: #84898C;
}

.nav a:hover {
    color: #84898C;
    font-weight: 500;
}

nav .nav-font-size {
    font-size: 0.7rem;
}

.button {
    float: 
}

nav .button-border {
    border-color: #84898C;
}

nav .button-size {
    padding: 2px 10px 2px 10px;
}

nav .button-size-text {
    height: 20px;
    width: 20px;
 }




