@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Maven+Pro&display=swap');

body {
    background-color: #FCFAFA;
    color: #84898C;
    font-family: 'Maven Pro', sans-serif;
}

.header {}

.header-logo {
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    min-height: 8vh;
   }

.navbar {}

.nav-info-size-xs {
    font-size: 0.7rem;
}

h1 {
    text-align: center;
}

.nav-link {
    color: #84898C;
}

.recension {
    text-align: center;
}

